* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
/*dark-theme*/
:root {
	--primary-color: #0c2d48;
	--secondary-color: #b1d4e0;
	--font-type: Arial, Helvetica, sans-serif;
	--type-color1: #145da0;
	--type-color2: #2e8bc0;
	--heading-color: #87ceeb;
}
.dark-theme {
	--primary-color: #000106;
	--secondary-color: #212121;
	--font-type: "Times New Roman", Times, serif;
	--type-color1: #fee2c5;
	--type-color2: #6e1116e5;
	--heading-color: #001d6e;
}
/*end-dark-theme*/
body {
	background: var(--primary-color);
}

/* start-header*/
#icon {
	width: 30px;
	cursor: pointer;
	margin: 17px;
}
header {
	font-family: var(--font-type);
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 1000;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary-color);
	box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.2);
}

.logo {
	text-decoration: none;
	color: var(--type-color1);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	margin-left: 5px;
}

.logo:hover {
	color: var(--type-color2);
}

.navbar a {
	text-decoration: none;
	display: flex;
	color: var(--type-color1);
	text-align: center;
	padding: 25px 10px;
	font-size: 16px;
	float: right;
	font-weight: bold;
}

.navbar a:hover {
	background-color: var(--type-color2);
	color: #fff;
	font-weight: bold;
}

/*end-header*/

.BHM {
	background-color: #fff;
	width: 100%;
	height: 68px;
}

.container {
	display: flex;
	background-color: var(--secondary-color);
	color: var(--type-color2);
}

.container h1 {
	text-transform: uppercase;
	padding-left: 40px;
	margin-top: 10px;
	text-shadow: 3px 3px rgba(177, 212, 224, 0.2);
}

p {
	color: var(--type-color1);
	font-size: 1.5em;
	font-weight: 600;
}

.BMF {
	display: flex;
	background-color: var(--secondary-color);
	width: 100%;
	height: 100px;
}

.BMF img {
	margin-top: 20px;
	width: 60px;
	height: 60px;
	margin-left: 50px;
	text-align: center;
}

.BMF p {
	text-align: center;
	font-size: 1.1em;
}

/*start edit details*/
.details {
	margin-top: 120px;
	float: left;
	margin-right: 40px;
	background-color: #fff;
	padding: 30px;
	border: 20px;
}
h2 {
	margin-left: 600px;
	font-size: 3em;
	color: var(--heading-color);
	margin-top: 15px;
}

.info-1 {
	font-size: 40px;
	color: var(--type-color2);
	padding-bottom: 15px;
}
.icons {
	font-size: 1em;
	margin-bottom: 20px;
	margin-right: 2px;
}

.info-2 {
	font-size: 40px;
	color: var(--type-color2);
}

.info-3 {
	font-size: 40px;
	color: var(--type-color2);
}

/*end edit details*/

/*start edit form*/
.form {
	margin-top: 40px;
}

input[type="text"] {
	width: 605px;
	height: 55px;
	font-size: 25px;
	margin-bottom: 15px;
}
.first-field {
	float: left;
	margin-right: 10px;
}
input[type="email"] {
	width: 1220px;
	height: 55px;
	font-size: 25px;
	margin-bottom: 15px;
}
#comment {
	width: 1220px;
	height: 200px;
	font-size: 30px;
}
button {
	padding: 15px;
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #fff;
	background-color: var(--type-color2);
	font-size: 25px;
	margin-left: 399px;
} /*end edit form*/

/*start-footer*/
.container2 {
	font-family: var(--font-type);
	max-width: 1570px;
	background-color: var(--secondary-color);
	margin: auto;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
	margin-top: -30px;
	margin-left: -25px;
}

.footer {
	background-color: var(--type-color1);
	padding: 20px 20px;
}

.footer-col {
	width: 33%;
	padding: 0 15px;
}

.footer-col h3 {
	font-size: 1.5em;
	color: var(--type-color2);
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 700;
	position: relative;
	margin-left: 20px;
}

.footer-col ul a {
	color: var(--primary-color);
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-left: 50px;
}
.footer-col ul a:hover {
	color: var(--type-color2);
}

.footer-col .Social-links a {
	height: 30px;
	width: 200px;
	margin: 0 20px 20px 0;
	line-height: 20px;
	text-align: center;
	font-size: 2.4em;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background-color: white;
}

.footer-col .Social-links a:hover {
	color: blue;
}

.footer-col .Social-links .youtube a:hover {
	color: red;
}

.footer-col .Social-links .github a:hover {
	color: black;
}

.footer-col .Social-links .insta a:hover {
	color: #fb3958;
}

.footer-col .Social-links .twitter a:hover {
	color: #00acee;
}

.in-footer {
	font-size: 1.4em;
	font-weight: 600;
	color: var(--primary-color);
	padding-bottom: 20px;
}

.pfooter {
	font-size: 22px;
	font-weight: 600;
	color: var(--type-color1);
}
/*end-footer*/
