* {
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background-color: wheat;
}
.side_photo {
	padding-top: 80px;
	width: 700px;
	float: left;
	padding-right: 25px;
}
header {
	background-color: #b1d4e0;
	width: 100%;
	position: fixed;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
}
.logo {
	text-decoration: none;
	color: #145da0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}

.logo:hover {
	color: blue;
}

.navigation a {
	text-decoration: none;
	color: #145da0;
	font-weight: 600;
	font-size: 1em;
	padding: 10px 8px;
}

.navigation a:hover {
	background-color: #2e8bc0;
	color: #fff;
}

.title {
	display: flex;
	justify-content: center;
	color: blue;
	font-weight: 800;
	font-size: 2em;
	margin-bottom: 15px;
	padding: 65px;
}
.text_photo {
	text-decoration: none;
	padding-top: 80px;
	text-shadow: 100px;
}
.text {
	font-size: 1.2em;
	font-weight: bold;
	color: crimson;
}
