* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--primary-color: #0c2d48;
	--secondary-color: #b1d4e0;
	--font-type: Arial, Helvetica, sans-serif;
	--type-color1: #145da0;
	--type-color2: #2e8bc0;
	--type-color3: #b1d4e0;
	--heading-color: #87ceeb;
}
.dark-theme {
	--primary-color: #000106;
	--secondary-color: #212121;
	--font-type: "Times New Roman", Times, serif;
	--type-color1: #fee2c5;
	--type-color2: #6e1116e5;
	--type-color3: white;
	--heading-color: #001d6e;
}
body {
	background: var(--primary-color);
}
/*color for background*/

/* start-header*/
#icon {
	width: 30px;
	cursor: pointer;
	margin: 17px;
}
header {
	font-family: var(--font-type);
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 1000;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary-color);
	box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.2);
}

.logo {
	text-decoration: none;
	color: var(--type-color1);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	margin-left: 5px;
}

.logo:hover {
	color: var(--type-color2);
}

.navbar a {
	text-decoration: none;
	display: flex;
	color: var(--type-color1);
	text-align: center;
	padding: 25px 10px;
	font-size: 16px;
	float: right;
	font-weight: bold;
}

.navbar a:hover {
	background-color: var(--type-color2);
	color: #fff;
	font-weight: bold;
}

/*end-header*/

.image-1 {
	float: left;
	margin-right: 20px;
	margin-left: 30px;
	margin-top: 100px;
	width: 400px;
	height: 500px;
	border: 5px;
	border-radius: 30px;
} /*edit first photo in the page*/

/*imge*/

.article-1 {
	font-family: var(--font-type);
	line-height: 1.8;
	color: var(--type-color3);
	font-size: 20px;
	text-indent: 50px;
	padding-left: 450px;
	padding-top: 60px;
} /*edit on first paragraph*/

.title {
	font-family: var(--font-type);
	color: var(--heading-color);
	text-align: center;
	font-size: 50px;
} /*edit first title in the page*/

.image-2 {
	float: right;
	margin-left: 20px;
	margin-right: 30px;
	margin-top: 100px;
	width: 300px;
	height: 400px;
	border: 5px;
	border-radius: 30px;
} /*edit seconde photo in the page*/

.article-2 {
	font-family: var(--font-type);
	line-height: 1.8;
	color: var(--type-color3);
	font-size: 20px;
	text-indent: 50px;
	padding-right: 50px;
	margin-top: 100px;
} /*edit seconde paragraph*/

.hed {
	font-family: var(--font-type);
	color: var(--heading-color);
	text-align: center;
	font-size: 40px;
} /*edit seconde title in the page*/

.image-3 {
	float: left;
	margin-right: 20px;
	margin-left: 30px;
	margin-top: 100px;
	width: 400px;
	height: 550px;
	border: 5px;
	border-radius: 30px;
} /*edit third image in the page*/

.article-3 {
	font-family: var(--font-type);
	line-height: 1.8;
	color: var(--type-color3);
	font-size: 20px;
	text-indent: 50px;
	padding-right: 50px;
	margin-top: 100px;
} /*edit third paragraph*/

.title-1 {
	font-family: var(--font-type);
	color: var(--heading-color);
	text-align: left;
	font-size: 50px;
	text-indent: 10px;
} /*edit third title in the page*/

.hed-1 {
	font-family: var(--font-type);
	color: var(--type-color2);
	text-align: left;
	font-size: 30px;
	text-indent: 20px;
} /*edit the clause that comes after third title in the page*/

.article-4 {
	font-family: var(--font-type);
	line-height: 1.8;
	color: var(--type-color3);
	font-size: 20px;
	text-indent: 50px;
	padding-right: 50px;
	margin-top: 100px;
	margin-left: 450px;
} /*edit article-4*/

.hed-2 {
	font-family: var(--font-type);
	color: var(--type-color2);
	text-align: left;
	font-size: 30px;
	text-indent: 20px;
} /*edit title of the article-4*/

.image-4 {
	float: right;
	margin-left: 20px;
	margin-right: 30px;
	margin-top: 100px;
	width: 500px;
	height: 400px;
	border: 5px;
	border-radius: 30px;
} /*edit fourth image in the page*/

.article-5 {
	font-family: var(--font-type);
	line-height: 1.8;
	color: var(--type-color3);
	font-size: 20px;
	text-indent: 50px;
	padding-left: 20px;
	margin-top: 100px;
	margin-right: 450px;
} /*edit article-5*/

.hed-3 {
	font-family: var(--font-type);
	color: var(--heading-color);
	text-align: center;
	font-size: 30px;
} /*edit the title of the article-5*/

.image-5 {
	float: left;
	margin-right: 20px;
	margin-left: 30px;
	margin-top: 100px;
	width: 500px;
	height: 400px;
	border: 5px;
	border-radius: 30px;
} /*edit fifth image in the page*/

.article-6 {
	font-family: var(--font-type);
	line-height: 2;
	color: var(--type-color3);
	font-size: 20px;
	margin-top: 100px;
	margin-left: 25px;
} /*edit article-6*/

.title-2 {
	font-family: var(--font-type);
	color: var(--heading-color);
	text-align: left;
	font-size: 50px;
	text-indent: 10px;
} /*edit the title of the article-6*/

.hed-4 {
	font-family: var(--font-type);
	color: var(--type-color2);
	text-align: left;
	font-size: 30px;
	text-indent: 20px;
} /*edit clause that is comes after title of article-6*/

.hed-5 {
	font-family: var(--font-type);
	color: var(--type-color2);
	text-align: left;
	font-size: 30px;
	text-indent: 20px;
} /*edit title of the article-6*/

.list-1 {
	font-family: var(--font-type);
	list-style: outside;
	padding-left: 620px;
	margin-top: 5px;
}
.list-2 {
	font-family: var(--font-type);
	list-style: outside;
	margin-left: 20px;
	margin-top: 5px;
}

/*start-footer*/
.container2 {
	font-family: var(--font-type);
	max-width: 1570px;
	background-color: var(--secondary-color);
	margin: auto;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
	margin-top: -30px;
	margin-left: -25px;
}

.footer {
	background-color: var(--type-color1);
	padding: 20px 20px;
}

.footer-col {
	width: 33%;
	padding: 0 15px;
}

.footer-col h3 {
	font-size: 1.5em;
	color: var(--type-color2);
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 700;
	position: relative;
	margin-left: 20px;
}

.footer-col ul a {
	color: var(--primary-color);
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-left: 50px;
}
.footer-col ul a:hover {
	color: var(--type-color2);
}

.footer-col .Social-links a {
	height: 30px;
	width: 200px;
	margin: 0 20px 20px 0;
	line-height: 20px;
	text-align: center;
	font-size: 2.4em;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background-color: white;
}

.footer-col .Social-links a:hover {
	color: blue;
}

.footer-col .Social-links .youtube a:hover {
	color: red;
}

.footer-col .Social-links .github a:hover {
	color: black;
}

.footer-col .Social-links .insta a:hover {
	color: #fb3958;
}

.footer-col .Social-links .twitter a:hover {
	color: #00acee;
}

.in-footer {
	font-size: 1.4em;
	font-weight: 600;
	color: var(--primary-color);
	padding-bottom: 20px;
}

.pfooter {
	font-size: 22px;
	font-weight: 600;
	color: var(--type-color1);
}
/*end-footer*/
