* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background-color: #0c2d48;
}

/* start-header*/
header {
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 1000;
	align-items: center;
	justify-content: space-between;
    background-color: #b1d4e0;
    box-shadow: 0 4px 7px -1px rgba(0,0,0,0.2);
}

.logo {
	text-decoration: none;
	color: #145da0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	margin-left: 5px;
}

.logo:hover {
	color: #2e8bc0;
}

.navbar a {
    text-decoration: none;
    display: flex;
    color:#145da0;
    text-align: center;
    padding: 25px 10px;
    font-size: 16px;
    float: right;
	font-weight: bold;
}

.navbar a:hover {
    background-color: #2e8bc0;
    color: #fff;
	font-weight: bold;
}
/*end-header*/

.cards h2 {
	padding-top: 100px;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	color: #b1d4e0;
	text-shadow: 5px 3px 2px rgba(177, 212, 224, 0.2);
}
.doc-cards {
	padding-top: 40px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.card {
	background-color: #0c2d48;
	width: 440px;
	/*margin-bottom: 25px;*/
	box-shadow: 5px 5px 25px rgba(1 1 1 /15%);
	border-radius: 10px;
	padding: 25px;
	margin: 15px;
}
.card:hover {
	background-color: #b1d4e0;
	transform: scale(1.1);
	transition: 0.7s ease;
}
.pic {
	margin-left: 90px;
	width: 200px;
	text-align: center;
	/*height: 300px;*/
}
.info {
	text-align: center;
}
.info h3 {
	color: #fff;
	font-size: 1.2em;
	font-family: serif;
	margin-bottom: 10px;
}
.info p {
	color: rgba(240, 248, 255, 0.623);
}
img {
	width: 100%;
	display: flex;
}

/*start-footer*/
.container2 {
	max-width: 1570px;
	background-color: #b1d4e0;
	margin: auto;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
	margin-top: -30px;
	margin-left: -25px;
}

.footer {
	background-color: #145da0;
	padding: 20px 20px;
}

.footer-col {
	width: 33%;
	padding: 0 15px;
}

.footer-col h3 {
	font-size: 1.5em;
	color: #2e8bc0;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 700;
	position: relative;
	margin-left: 20px;
}

.footer-col ul a {
	color: #0c2d48;
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-left: 50px;
}
.footer-col ul a:hover {
	color: #2e8bc0;
}

.footer-col .Social-links a {
	height: 30px;
	width: 200px;
	margin: 0 20px 20px 0;
	line-height: 20px;
	text-align: center;
	font-size: 2.4em;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background-color: white;
}

.footer-col .Social-links a:hover {
	color: blue;
}

.footer-col .Social-links .youtube a:hover {
	color: red;
}

.footer-col .Social-links .github a:hover {
	color: black;
}

.footer-col .Social-links .insta a:hover {
	color: #fb3958;
}

.footer-col .Social-links .twitter a:hover {
	color: #00acee;
}

.in-footer {
	font-size: 1.4em;
	font-weight: 600;
	color: #0c2d48;
	padding-bottom: 20px;
}

.pfooter {
	font-size: 22px;
	font-weight: 600;
	color: #145da0;
}
/*end-footer*/
