* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
/*dark-theme*/
:root {
	--primary-color: #0c2d48;
	--secondary-color: #b1d4e0;
	--font-type: Arial, Helvetica, sans-serif;
	--type-color1: #145da0;
	--type-color2: #2e8bc0;
	--heading-color: #87ceeb;
}
.dark-theme {
	--primary-color: #000106;
	--secondary-color: #212121;
	--font-type: "Times New Roman", Times, serif;
	--type-color1: #fee2c5;
	--type-color2: #6e1116e5;
	--heading-color: #001d6e;
}
/*end-dark-theme*/
body {
	background: var(--primary-color);
}

/* start-header*/
#icon {
	width: 30px;
	cursor: pointer;
	margin: 17px;
}
header {
	font-family: var(--font-type);
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 1000;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary-color);
	box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.2);
}

.logo {
	text-decoration: none;
	color: var(--type-color1);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	margin-left: 5px;
}

.logo:hover {
	color: var(--type-color2);
}

.navbar a {
	text-decoration: none;
	display: flex;
	color: var(--type-color1);
	text-align: center;
	padding: 25px 10px;
	font-size: 16px;
	float: right;
	font-weight: bold;
}

.navbar a:hover {
	background-color: var(--type-color2);
	color: #fff;
	font-weight: bold;
}

/*end-header*/

.word {
	font-family: var(--font-type);
	color: var(--type-color2);
	font-size: 19px;
	font-weight: 900;
	padding-top: 90px;
	text-align: center;
}

.welcome {
	font-size: 1.8em;
	text-align: center;
}

.title {
	font-family: var(--font-type);
	display: flex;
	justify-content: center;
	color: var(--type-color1);
	font-weight: 800;
	font-size: 2em;
	margin-bottom: 15px;
	padding: 65px;
}

/*services*/

.thumbnail img {
	fill: #c7c4c4;
	height: 135px;
	opacity: 1;
	padding: 1.5rem;
}

.category__02 {
	background-color: #5d5e5e;
	padding: 5px;
}

.category__03 {
	background-color: #51bb7b;
	padding: 5px;
}

.category__04 {
	background-color: #f47820;
	padding: 5px;
}

.content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.department {
	background-color: var(--secondary-color);
	width: 340px;
	padding: 30px;
	margin: 15px;
	transition: 0.9s ease;
}

.department:hover {
	transform: scale(1.2);
}

.cards {
	background-color: var(--type-color2);
	display: inline-block;
	width: 300px;
	margin-left: 10%;
	display: inline-block;
	justify-content: center;
	margin-bottom: 50px;
}

.cards:hover {
	box-shadow: 2px 2px 10px var(--secondary-color);
}
.image img {
	width: 100%;
	border-top-right-radius: 80px;
	border-top-left-radius: 80px;
}

.title {
	font-family: var(--font-type);
	text-align: center;
	padding: 2px;
}

.description {
	text-align: center;
	padding: 3px;
}

p {
	font-family: var(--font-type);
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 0px;
	color: var(--type-color1);
}

.title h2 {
	font-family: var(--font-type);
	font-size: 1em;
	font-weight: 600;
	color: var(--heading-color);
	text-align: center;
}

.checked {
	color: #fd4;
	font-size: 1.4em;
	padding-top: 17px;
}

.opa {
	opacity: 0.3;
	font-size: 1.4em;
	padding-top: 17px;
}
/*.description p {
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 1px;
}*/

.icons {
	color: var(--primary-color);
	font-size: 7em;
	text-align: center;
}
.info h3 {
	font-family: var(--font-type);
	color: var(--type-color1);
	font-size: 1.2em;
	font-weight: 600;
	margin: 10px;
	text-align: center;
}

.info p {
	font-family: var(--font-type);
	color: var(--type-color2);
	font-size: 0.9em;
	font-weight: 600;
	margin: 10px;
	text-align: center;
}

.contact .info p {
	font-size: 1.1em;
}

/*start-footer*/
.container {
	font-family: var(--font-type);
	max-width: 1570px;
	background-color: var(--secondary-color);
	margin: auto;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
	margin-top: -30px;
	margin-left: -25px;
}

.footer {
	background-color: var(--type-color1);
	padding: 20px 20px;
}

.footer-col {
	width: 33%;
	padding: 0 15px;
}

.footer-col h3 {
	font-size: 1.5em;
	color: var(--type-color2);
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 700;
	position: relative;
	margin-left: 20px;
}

.footer-col ul a {
	color: var(--primary-color);
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-left: 50px;
}
.footer-col ul a:hover {
	color: var(--type-color2);
}

.footer-col .Social-links a {
	height: 30px;
	width: 200px;
	margin: 0 20px 20px 0;
	line-height: 20px;
	text-align: center;
	font-size: 2.4em;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background-color: white;
}

.footer-col .Social-links a:hover {
	color: blue;
}

.footer-col .Social-links .youtube a:hover {
	color: red;
}

.footer-col .Social-links .github a:hover {
	color: black;
}

.footer-col .Social-links .insta a:hover {
	color: #fb3958;
}

.footer-col .Social-links .twitter a:hover {
	color: #00acee;
}

.in-footer {
	font-size: 1.4em;
	font-weight: 600;
	color: var(--primary-color);
	padding-bottom: 20px;
}

.pfooter {
	font-size: 22px;
	font-weight: 600;
	color: var(--type-color1);
}
/*end-footer*/

/*start-Java*/
.swal-overlay {
	background-color: #0c2d48;
}

.swal-title {
	font-size: 24px;
	color: #0c2d48;
	text-align: center;
}

.swal-text {
	background-color: white;
	padding: 17px;
	border: 1px solid #0c2d48;
	display: block;
	margin: 22px;
	text-align: center;
	color: #00acee;
}

/*end-Java*/
