* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #0c2d48;
}

/* start-header*/
header {
	background-color: #b1d4e0;
	width: 100%;
	position: fixed;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
}
.logo {
	text-decoration: none;
	color: #145da0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}

.logo:hover {
	color: blue;
}

.navigation a {
	text-decoration: none;
	color: #145da0;
	font-weight: 600;
	font-size: 1em;
	padding: 10px 8px;
}

.navigation a:hover {
	background-color: #2e8bc0;
	color: #fff;
}
/*end-header*/

/*services*/
.thumbnail img {
	fill: #c7c4c4;
	height: 135px;
	opacity: 1;
	padding: 1.5rem;
}

.category__02 {
	background-color: #5d5e5e;
	padding: 5px;
}

.category__03 {
	background-color: #51bb7b;
	padding: 5px;
}

.category__04 {
	background-color: #f47820;
	padding: 5px;
}

/*services*/
.title {
	display: flex;
	justify-content: center;
	color: blue;
	font-weight: 800;
	font-size: 2em;
	margin-bottom: 15px;
	padding: 65px;
}

.content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.department {
	background-color: #b1d4e0;
	width: 340px;
	padding: 30px;
	margin: 15px;
	transition: 0.9s ease;
}

.department:hover {
	transform: scale(1.5);
}

.cards {
	background-color: skyblue;
	display: inline-block;
	width: 300px;
	margin-left: 10%;
	display: inline-block;
	justify-content: center;
	margin-bottom: 50px;
}

.cards:hover {
	box-shadow: 2px 2px 10px black;
}
.image img {
	width: 100%;
	border-top-right-radius: 80px;
	border-top-left-radius: 80px;
}

.title {
	text-align: center;
	padding: 2px;
}

.description {
	text-align: center;
	padding: 3px;
}

p {
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 0px;
	color: #0c2d48;
}

.title h2 {
	font-size: 1em;
	font-weight: 600;
	color: #145da0;
	text-align: center;
}

.checked {
	color: #fd4;
	font-size: 1.4em;
	padding-top: 17px;
}

.opa {
	opacity: 0.3;
	font-size: 1.4em;
	padding-top: 17px;
}
/*.description p {
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 1px;
}*/

.icons {
	color: blue;
	font-size: 7em;
	text-align: center;
}
.info h3 {
	color: blue;
	font-size: 1.2em;
	font-weight: 600;
	margin: 10px;
	text-align: center;
}

.info p {
	color: #0c2d48;
	font-size: 0.9em;
	font-weight: 600;
	margin: 10px;
	text-align: center;
}

.contact .info p {
	font-size: 1.1em;
}

.word {
	color: blue;
	font-size: 1.2em;
	font-weight: 900;
	padding-top: 90px;
	text-align: center;
}

.welcome {
	font-size: 1.8em;
	text-align: center;
}

/*start-footer*/
.container {
	max-width: 1570px;
	background-color: #b1d4e0;
	margin: auto;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #145da0;
	padding: 70px 0;
}

.footer-col {
	width: 33%;
	padding: 0 15px;
}

.footer-col h3 {
	font-size: 1.5em;
	color: #2e8bc0;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 700;
	position: relative;
	margin-left: 20px;
}

.footer-col ul a {
	color: #0c2d48;
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-left: 50px;
}
.footer-col ul a:hover {
	color: blue;
}

.footer-col .Social-links a {
	height: 30px;
	width: 200px;
	margin: 0 20px 20px 0;
	line-height: 20px;
	text-align: center;
	font-size: 2.4em;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background-color: white;
}

.footer-col .Social-links a:hover {
	color: blue;
}

.footer-col .Social-links .youtube a:hover {
	color: red;
}

.footer-col .Social-links .github a:hover {
	color: black;
}

.footer-col .Social-links .insta a:hover {
	color: #fb3958;
}

.footer-col .Social-links .twitter a:hover {
	color: #00acee;
}

.in-footer {
	font-size: 1.4em;
	font-weight: 600;
	color: #0c2d48;
	padding-bottom: 20px;
}

.pfooter {
	font-size: 22px;
	font-weight: 600;
	color: #145da0;
}
/*end-footer*/
