* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #0c2d48;
}

/* start-header*/
header {
	background-color: #b1d4e0;
	width: 100%;
	position: fixed;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
}
.logo {
	text-decoration: none;
	color: #145da0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}

.logo:hover {
	color: blue;
}

.navigation a {
	text-decoration: none;
	color: #145da0;
	font-weight: 600;
	font-size: 1em;
	padding: 10px 8px;
}

.navigation a:hover {
	background-color: #2e8bc0;
	color: #fff;
}
/*end-header*/
h1 {
	padding-top: 130px;
	text-align: center;
	color: aliceblue;
}
.right1 {
	text-align: center;
	margin: 50px;
}
.right2 {
	text-align: center;
	margin: 50px;
}
.center {
	text-align: center;
	color: aliceblue;
}
#are {
	text-align: center;
	color: #00172dfa;
	margin-top: 30px;
	margin-bottom: 60px;
}
table {
	color: rgba(5, 5, 5, 0.879);
}

table.cc {
	margin-left: auto;
	margin-right: auto;
}

.serv {
	margin: 200px;
}

.doc {
	margin: 200px;
}
.cards {
	display: flex;
	justify-content: center;
	flex-direction: row;
	/* flex-wrap: wrap;*/
}
.card {
	background-color: #0c2d48;
	width: 440px;
	box-shadow: 5px 5px 25px rgba(1 1 1 /15%);
	margin: 15px;
	border-radius: 10px;
	padding: 25px;
}

.card:hover {
	background-color: #37719f;

	transform: scale(1.1);
	transition: 0.7s ease;
}
.serv-pic img {
	width: 300px;

	/* display: flex;
    background-size: cover;
    background-position: center;*/
}
.serv-info {
	text-align: center;
}
.serv-info h3 {
	color: #fff;
	font-size: 1.2em;
	font-family: serif;
	margin-bottom: 10px;
}
.serv-info p {
	color: rgba(240, 248, 255, 0.539);
}
.doc-pic img {
	width: 300px;
	display: flex;
	align-items: center;

	/* height: 300px;*/
}

.doc-info {
	text-align: center;
}
.doc-info h3 {
	color: #fff;
	font-size: 1.2em;
	font-family: serif;
	margin-bottom: 10px;
}
.doc-info p {
	color: rgba(240, 248, 255, 0.539);
}

/*start-footer*/
.container {
	max-width: 1570px;
	background-color: #b1d4e0;
	margin: auto;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #145da0;
	padding: 70px 0;
}

.footer-col {
	width: 33%;
	padding: 0 15px;
}

.footer-col h3 {
	font-size: 1.5em;
	color: #2e8bc0;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 700;
	position: relative;
	margin-left: 20px;
}

.footer-col ul a {
	color: #0c2d48;
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-left: 50px;
}
.footer-col ul a:hover {
	color: blue;
}

.footer-col .Social-links a {
	height: 30px;
	width: 200px;
	margin: 0 20px 20px 0;
	line-height: 20px;
	text-align: center;
	font-size: 2.4em;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background-color: white;
}

.footer-col .Social-links a:hover {
	color: blue;
}

.footer-col .Social-links .youtube a:hover {
	color: red;
}

.footer-col .Social-links .github a:hover {
	color: black;
}

.footer-col .Social-links .insta a:hover {
	color: #fb3958;
}

.footer-col .Social-links .twitter a:hover {
	color: #00acee;
}

.in-footer {
	font-size: 1.4em;
	font-weight: 600;
	color: #0c2d48;
	padding-bottom: 20px;
}

.pfooter {
	font-size: 22px;
	font-weight: 600;
	color: #145da0;
}
/*end-footer*/
