* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #0c2d48;
}

/* start-header*/
header {
	background-color: #b1d4e0;
	width: 100%;
	position: fixed;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
}
.logo {
	text-decoration: none;
	color: #145da0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}

.logo:hover {
	color: blue;
}

.navigation a {
	text-decoration: none;
	color: #145da0;
	font-weight: 600;
	font-size: 1em;
	padding: 10px 8px;
}

.navigation a:hover {
	background-color: #2e8bc0;
	color: #fff;
}
/*end-header*/

.heading {
	padding-top: 80px;
	margin-left: 350px;
	text-transform: uppercase;
	border-left: 6px solid #2e8bc0;
	background-color: #0c2d48;
	color: #fff;
}

.content {
	padding-top: 15px;
	letter-spacing: 1px;
	line-height: 1.4;
	margin-right: 10px;
	text-align: justify;
}
.content p {
	font-size: 1.2em;
	font-weight: 500;
	color: #145da0;
	margin-left: 450px;
}

ul li {
	font-size: 1.2em;
	font-weight: 500;
	color: #2e8bc0;
}

.content h2 {
	margin-left: 440px;
	margin-top: 15px;
}
.content img {
	float: left;
	width: 400px;
	height: 440px;
}

.content ul {
	margin-left: 600px;
}

.content ul li {
	list-style: outside;
}

.color {
	background-color: #b1d4e0;
	width: 100%;
	height: 330px;
	margin-top: 35px;
}

.color table {
	float: right;
	border-collapse: collapse;
	width: 55%;
	height: 65%;
	margin: 35px 75px 0 0;
}

.color td {
	color: #2e8bc0;
	border: 2px solid #2e8bc0;
	text-align: center;
	padding: 8px;
}

.color tr:nth-child(odd) {
	background-color: #0c2d48;
}

.container {
	display: flex;
	align-items: center;
	background-color: #0c2d48;
	color: #b1d4e0;
}

.container .title2 {
	padding-left: 75px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 15px;
	text-shadow: 3px 3px rgba(177, 212, 224, 0.2);
}

.container .card {
	display: inline-block;
	margin: 45px;
	border: 1px solid #b1d4e0;
	border-radius: 8px;
	padding: 24px;
	box-shadow: 5px 5px 0 rgba(177, 212, 224, 0.2);
	transition: 0.3s;
}
.container .card img {
	width: 150px;
	border: 1px solid #b1d4e0;
	border-radius: 8px;
	margin-left: 16px;
	margin-right: 16px;
}

.container .card:hover {
	box-shadow: 8px 8px 0 rgba(177, 212, 224, 0.2);
}

.container .text {
	text-align: center;
}

.container .media a {
	width: 30px;
	height: 30px;
	line-height: 1.4;
	font-size: 22px;
	text-decoration: none;
	margin: 4px;
	border: 1px solid #b1d4e0;
	border-radius: 8px;
	color: #b1d4e0;
}

.container .media a:hover {
	color: #0c2d48;
	background-color: #b1d4e0;
	border-color: #0c2d48;
	box-shadow: 3px 3px rgba(177, 212, 224, 0.2);
}

/*start-footer*/
.container_1 {
	max-width: 1570px;
	background-color: #b1d4e0;
	margin: auto;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #145da0;
	padding: 70px 0;
}

.footer-col {
	width: 33%;
	padding: 0 15px;
}

.footer-col h3 {
	font-size: 1.5em;
	color: #2e8bc0;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 700;
	position: relative;
	margin-left: 20px;
}

.footer-col ul a {
	color: #0c2d48;
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-left: 50px;
}
.footer-col ul a:hover {
	color: blue;
}

.footer-col .Social-links a {
	height: 30px;
	width: 200px;
	margin: 0 20px 20px 0;
	line-height: 20px;
	text-align: center;
	font-size: 2.4em;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background-color: white;
}

.footer-col .Social-links a:hover {
	color: blue;
}

.footer-col .Social-links .youtube a:hover {
	color: red;
}

.footer-col .Social-links .github a:hover {
	color: black;
}

.footer-col .Social-links .insta a:hover {
	color: #fb3958;
}

.footer-col .Social-links .twitter a:hover {
	color: #00acee;
}

.in-footer {
	font-size: 1.2em;
	font-weight: 600;
	color: #0c2d48;
	padding-bottom: 20px;
}

.pfooter {
	font-size: 1.4em;
	font-weight: 600;
	color: #145da0;
}

/*end-footer*/
