/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');*/

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*dark-theme*/
:root {
	--primary-color: #0c2d48;
	--secondary-color: #b1d4e0;
	--font-type: Arial, Helvetica, sans-serif;
	--type-color1: #145da0;
	--type-color2: #2e8bc0;
	--heading-color: black;
}
.dark-theme {
	--primary-color: #000106;
	--secondary-color: #212121;
	--font-type: "Times New Roman", Times, serif;
	--type-color1: #fee2c5;
	--type-color2: #6e1116e5;
	--heading-color: white;
}
/*end-dark-theme*/
body {
	/*background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);*/
	background-color: var(--primary-color);
}
#icon {
	width: 30px;
	cursor: pointer;
	margin: 17px;
}
/* start-header*/
#icon {
	width: 30px;
	cursor: pointer;
	margin: 17px;
}
header {
	font-family: var(--font-type);
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 1000;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary-color);
	box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.2);
}

.logo {
	text-decoration: none;
	color: var(--type-color1);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
	margin-left: 5px;
}

.logo:hover {
	color: var(--type-color2);
}

.navbar a {
	text-decoration: none;
	display: flex;
	color: var(--type-color1);
	text-align: center;
	padding: 25px 10px;
	font-size: 16px;
	float: right;
	font-weight: bold;
}

.navbar a:hover {
	background-color: var(--type-color2);
	color: #fff;
	font-weight: bold;
}

/*end-header*/
h2 {
	font-family: var(--font-type);
	color: rgb(0, 0, 0);
	margin: 2rem 0 0.5rem;
	font-size: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
}

.thumbnail img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

/***************************           Cards            *******************************/

.cards {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	); /* see notes below */
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 1rem;
	padding-top: 100px;
}

.card {
	/*height: 200px;*/
	/*background: red;*/
	border: 2px solid var(--type-color2);
	border-radius: 4px;
	padding: 0.5rem;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	display: flex;
	/* -webkit-box-orient: vertical; */
	/* -webkit-box-direction: normal; */
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	color: #5d5e5e;
} /* li item */

.thumbnail img {
	fill: #c7c4c4;
	height: 135px;
	opacity: 0.25;
	padding: 1.5rem;
}

h2 {
	color: var(--type-color1);
	font-weight: 600;
}
.card-content {
	font-size: 0.75rem;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.panel.card-panel .panel-header {
	background-color: #ffffff;
	font-size: 0.75rem;
	font-weight: 400;
	height: 25px !important;
}

.panel.card-panel .panel-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.category {
	font-family: var(--font-type);
	font-size: 0.75rem;
	text-transform: uppercase;
}

.category {
	position: absolute;
	top: 110px;
	left: 0;
	color: var(--heading-color);
	background: #e74c3c;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.category__01 {
	background-color: #50c6db;
}

.category__02 {
	background-color: #5d5e5e;
}

.category__03 {
	background-color: #51bb7b;
}

.category__04 {
	background-color: #f47820;
}

.category__05 {
	background-color: #8350a0;
}

.post-meta {
	margin-top: 0.5rem;
}

.comments {
	margin-left: 0.5rem;
}

/*start-footer*/
.container2 {
	font-family: var(--font-type);
	max-width: 1570px;
	background-color: var(--secondary-color);
	margin: auto;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
	margin-top: -30px;
	margin-left: -25px;
}

.footer {
	background-color: var(--type-color1);
	padding: 20px 20px;
}

.footer-col {
	width: 33%;
	padding: 0 15px;
}

.footer-col h3 {
	font-size: 1.5em;
	color: var(--type-color2);
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 700;
	position: relative;
	margin-left: 20px;
}

.footer-col ul a {
	color: var(--primary-color);
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-left: 50px;
}
.footer-col ul a:hover {
	color: var(--type-color2);
}

.footer-col .Social-links a {
	height: 30px;
	width: 200px;
	margin: 0 20px 20px 0;
	line-height: 20px;
	text-align: center;
	font-size: 2.4em;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background-color: white;
}

.footer-col .Social-links a:hover {
	color: blue;
}

.footer-col .Social-links .youtube a:hover {
	color: red;
}

.footer-col .Social-links .github a:hover {
	color: black;
}

.footer-col .Social-links .insta a:hover {
	color: #fb3958;
}

.footer-col .Social-links .twitter a:hover {
	color: #00acee;
}

.in-footer {
	font-size: 1.4em;
	font-weight: 600;
	color: var(--primary-color);
	padding-bottom: 20px;
}

.pfooter {
	font-size: 22px;
	font-weight: 600;
	color: var(--type-color1);
}
/*end-footer*/
